<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Eventos de Reposição</title>
</head>
<style>
table {
  border-collapse: collapse;
  width: 25%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD
}

</style>
<body style="padding:20px">
{% if cursor %}
    <h2>IVMs</h2>
    <p>Selecione a IVM que pretende listar os seus eventos de reposição.</p>
    <table  border="2px">
        <thead>
            <tr>
                <th><h3>Número de Série</h3></th>
                <th><h3>Fabricante</h3></th>
                <th><h3>Listar</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td><a href="listar_eventos?num_serie={{record[0]}}&fabricante={{record[1]}}">Listar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>