<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Super Categorias</title>
</head>
<style>
table {
  border-collapse: collapse;
  width: 25%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD
}

</style>
<body style="padding:20px">
    <h2>Escolha uma Super Categoria da qual queira ver as Sub Categorias:</h2>
{% if cursor %}
    <table  border="2px">
        <thead>
            <tr>
                <th><h4>Super-Categoria</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td><a href="listar_subcat?nome={{record[0]}}">{{ record[0] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>