<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista Retalhistas</title>
</head>
<style>
table {
  border-collapse: collapse;
  width: 25%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD
}

</style>
<body style="padding:20px">
{% if cursor %}
    <table  border="2px">
        <thead>
            <tr>
                <th><h3>tin</h3></th>
                <th><h3>Retalhistas</h3></th>
                <th><h3>Remover</h3></th>
            </tr>
            <tr>
                <td><a href="inserir_retalhista">Inserir Retalhista</a></td>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td><a href="remover_retalhista?tin={{record[0]}}">Remover</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>